<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./icon.png" type="image/png">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>WhiteBoard</title>
    <meta name="description" content="WhiteBoard - A collaborative drawing app in real-time that uses web sockets">
    <meta name="keywords" content="WhiteBoard Drawing app">

</head>

<body>
    <span class="top">
        <p>Hello <%= Qs.username%>!!</p>
        <h1 id="header"></h1>
    </span>

    <span id="icons">
        <i class="far fa-moon" id="clear this" onclick="changeClr()"></i>
        <i class="fas fa-undo-alt" onclick="undo()"></i>
        <i class="fas fa-redo-alt" onclick="undo()"></i>
        <i class="fas fa-expand-alt" onclick="resize()"></i>
    </span>
    <!-- 
    <span id="clr">
        <label class="select">Select the color of the brush</label>
        <input type="color" value="#000000" class="clrpicker">
    </span> -->
    <span id="clr">
        <label for="drawing-color">Brush color:</label>
        <input type="color" value="#000000" id="drawing-color" class="clrpicker">
    </span>
    <label class="select">Enter the size of the brush</label>
    <!-- <span class="info">5</span><input type="range" value="30" min="5" max="30" id="drop"> -->
    <select id="drop" value="5">
        <option value="5" selected>5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
        <option value="25">25</option>
        <option value="25">35</option>
    </select>

    <div style="display: inline-block; margin-left: 10px">
        <button id="drawing-mode" class="btn btn-info">Cancel drawing mode</button>

        <div id="drawing-mode-options">
            <label for="drawing-mode-selector">Mode:</label>
            <select id="drawing-mode-selector">
                <option>Pencil</option>
                <option>Circle</option>
                <option>Spray</option>
                <option>Pattern</option>

                <option>hline</option>
                <option>vline</option>
                <option>square</option>
                <option>diamond</option>
                <option>texture</option>
            </select>

            <label for="drawing-shadow-color">Shadow color:</label>
            <input type="color" value="#000000" id="drawing-shadow-color">

            <label for="drawing-shadow-width">Shadow width:</label>
            <span class="info">0</span><input type="range" value="0" min="0" max="50" id="drawing-shadow-width">

            <label for="drawing-shadow-offset">Shadow offset:</label>
            <span class="info">0</span><input type="range" value="0" min="0" max="50" id="drawing-shadow-offset">
        </div>

        <span id="side">
            <div class="dropdown">
                <button class="dropbtn">View member accessing this Board <i class="fas fa-caret-down"></i></button>
                <div class="dropdown-content">
                    <!-- <a>Person 1</a>
                <a>Person 2</a>
                <a>Person 3</a> -->
                </div>
            </div>
            <a class="btn" href="/">Exit</a>
        </span>

        <canvas id="c"
            style="border: 1px solid rgb(170, 170, 170); position: absolute; width: 500px; height: 500px; left: 0px; top: 0px; touch-action: none; user-select: none;"
            class="lower-canvas"></canvas>
    </div>

    <!-- <canvas id="canvas"></canvas> -->
    <button class="btn" id="clear">
        Clear the Board
    </button>
    <button class="btn" onclick="feature()">Get Featured! <i class="fas fa-star"></i></button>
    <button class="btn" onclick="Save()">Download as Image <i class="fa fa-download"></i> </button>
    <button class="btn" onclick="deleteObject()">Delete Selected Doodle</button>

    <footer>
        Made with ❤️ by ARKARAJ<br><br>
        ©2020 ARKARAJ <a href="https://github.com/Arkaraj/Whiteboard"><i class="fab fa-github-square"></i></a>
    </footer>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.4/qs.min.js"
    integrity="sha512-BHtomM5XDcUy7tDNcrcX1Eh0RogdWiMdXl3wJcKB3PFekXb3l5aDzymaTher61u6vEZySnoC/SAj2Y/p918Y3w=="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.2.0/fabric.min.js"
    integrity="sha512-Pdu3zoEng2TLwwjnDne3O7zaeWZfEJHU5B63T+zLtME/wg1zfeSH/1wrtOzOC37u2Y1Ki8pTCdKsnbueOlFlMg=="
    crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="./main.js"></script>

</html>